.manage-cars {
  .new-car {
    width: 1440px;
    margin: 0 auto;

    > h3 {
      text-align: center;
      font-size: 24px;
      margin: 10px 0;
    }

    .new-car {
      width: 800px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      .form-info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
        row-gap: 10px;

        input, select {
          width: 100%;
          padding: 0 5px;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        input[type="number"] {
          -moz-appearance: textfield;
        }
      }

      .uploaded-images {
        width: 50%;
        display: flex;
        flex-direction: column;

        input {
          margin: 5px 0;
        }
      }

      > button {
        margin: 20px 0;
        padding: 10px 25px;
        font-size: 20px;
        border: none;
        color: white;
        background-color: #2F59A7;
        border-radius: 25px;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: 700;
        transition: 0.3s background-color;
         
        &:hover {
          background-color: #163164;
        }
      }
    }
  }

  .all-cars {
    width: 1200px;
    margin: 0 auto;

    .car-container {
      display: flex;
      align-items: center;
      margin: 10px 0;
      border: 1px solid rgb(233, 233, 233);
      box-shadow: 3px 3px 5px rgb(235, 235, 235);
      padding: 10px;
      border-radius: 30px;

      .left {
        width: 30%;

        .img-container {
          width: 90%;

          img {
            width: 100%;
          }
        }
      }

      .center {
        width: 55%;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .item {
          margin: 5px 0;
        }
      }

      .right {
        width: 15%;

        button {
          border: none;
          font-size: 24px;
          padding: 8px 15px;
          background-color: rgb(197, 15, 15);
          color: white;
          border-radius: 25px;
          cursor: pointer;

          &:hover {
            background-color: rgb(133, 11, 11);
          }
        }
      }
    }
  }
}